.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex: 0 0 33.3%;
  flex-wrap: wrap;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 25px 0px;
  width: 90%;
}
.filter-field {
  width: 175px;
  height: 35px;
  border-radius: 15px;
  margin-left: 15px;
}
