.home-container {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex: 0 0 33.3%;
  flex-wrap: wrap;
}

.header {
  width: 90%;
  margin: 0 auto;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 25px;
}
.filter-field {
  width: 175px;
  height: 35px;
  border-radius: 15px;
  color: rgb(0, 0, 0, 0.15);
  margin-left: 15px;
}
