.App {
  padding: 64px;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
  font-size: 20px;
  /* background-image: linear-gradient(to bottom, #2b2b2b, #525252); */
  /* color: white; */
}
